.header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-bottom: solid #cccccc;
    height: 100px;
    z-index: 15;

}

#name-links {
    font-family: 'Georgia', Times, Times 'Times New Roman', Times, serif, serif;
    width: 960px;
    margin: 0 auto;
}

#name {
    font-size: 24pt;
    color: white;
    padding: 30px;
    background: #4aaaa5;
    float: left;
    Width: 250px;
    height: 100px;
    box-sizing: border-box;

}

#pageLinks {
    float: right;
    width: 350px;
    word-spacing: 30px;
    padding-top: 40px;
    text-align: right;
    font-size: 14pt;
}

.links {
    text-decoration: none;
    opacity: .5;
    color: grey;
}

.links:hover {
    color: teal;

}

.links:visited:hover {
    color: teal;
}

.links:visited {
    color: grey;
    text-decoration: none;
}

section {
    margin-top: 150px;
}


#ContentHead {
    /* position: fixed;   */
    background: #ffffff;
    border-bottom: solid #cccccc;
    width: 960px;
    margin: 0px auto;
    box-sizing: border-box;
    color: teal;
    height: 100px;
    font-size: 24pt;
    padding-top: 30px;
    padding-left: 30px;

}

.body1 {
    background-image: url("crossline-lines.png");
    background-repeat: repeat;
    font: "Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif'";
    height: 700px;
}


#content1 {
    /* float: left; */
    background: #ffffff;
    width: 960px;
    margin: 0 auto;
    line-height: 2.0;
    /* font: "Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif'"; */
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;

}

#photo {
    height: 250px;
    width: 250px;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

form {
    clear: both;
    background: #ffffff;
    height: 900;
    width: 960px;
    margin: 0 auto;
    color: black;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
    line-height: 25px;
    margin-bottom: 50px;
}

.input1 {
    width: 900px;
}

.input2 {
    width: 900px;
    height: 100px;
    overflow: auto;

}

#footer1 {

    width: 100%;
    color: #ffffff;
    margin: 0 auto;
    background: grey;
    border-top: solid #4aaaa5;
    border-width: 10px;
    height: 25px;
    padding-top: 40px;
    font-size: 8pt;
    text-align: center;
    box-sizing: border-box;
    height: 65px;
    margin-top: 100px;



}

#footer2 {

    width: 100%;
    color: #ffffff;
    margin: 0 auto;
    background: grey;
    border-top: solid #4aaaa5;
    border-width: 10px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    height: 65px;
    margin-top: 100px;
    padding-top: 40px;
    font-size: 8pt;

}

.body2 {
    background-image: url("crossline-lines.png");
    background-repeat: repeat;
    font: "Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif'";
    height: 545px;
}

.body3 {
    background-image: url("crossline-lines.png");
    background-repeat: repeat;
    font: "Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif'";
}

.box-set {
    height: 1000px;
    position: relative;
    width: 960px;
    background: #ffffff;
    margin: 150px auto;
    z-index: 10;


}

.img1 {
    /* position: relative; */
    height: 210px;
    width: 325px;
}

.box {
    position: relative;
}

.pic{
    width: 175px;
    height: 175px;
}
.box-1 {
    top: 6%;
    left: 30px;
}

.box-2 {
    top: 40px;
    left: 30px;
    text-decoration: none;
    margin-bottom: 10px;
    height: 35px;
    width: 325px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.titlelinks{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
 
.titlelinks:hover{
    color:grey;
}

.box-3{
    top: -170px;
    left: 390px;
    margin-bottom: 10px;
    height: 35px;
    width: 210px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.box-4{
    top: -50px;
    left: 400px;
    text-decoration: none;
    margin-bottom: 10px;
    height: 35px;
    width: 325px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.box-5{
    top: 0px;
    left: 20px;
    margin-bottom: 10px;
    height: 35px;
    width: 210px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.box-6{
    top: 125px;
    left: 30px;
    text-decoration: none;
    margin-bottom: 10px;
    height: 35px;
    width: 325px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.box-7 {
    top: -90px;
    left: 390px;
    margin-bottom: 10px;
    height: 35px;
    width: 210px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}

.box-8 {
    top: 35px;
    left: 400px;
    text-decoration: none;
    margin-bottom: 10px;
    height: 35px;
    width: 325px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.box-9 {
    top: 85px;
    left: 20px;
    margin-bottom: 10px;
    height: 35px;
    width: 210px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}

.box-10 {
    top: 210px;
    left: 30px;
    text-decoration: none;
    margin-bottom: 10px;
    height: 35px;
    width: 325px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

@media (max-width: 960px) {
    #content1 {
        width: 768px;
    }

    #form{
        width: 768px;
    }
    #ContentHead {
        width:768px;
    }
    #name-links {
        width:768px;
    }
    .input1{
        width: 700px;
    }
    .input2{
        width: 700px;
    }
    .box-set {
        width: 768px;
    }

}

@media (max-width: 768px) {
    #content1 {
        width: 640px;
    }
    #ContentHead {
        width: 640px;
    }
    #name {
        padding: 30px;
    }
    #name-links{
        width: 640px;
    }
    #form{
        width: 640px;
    }
    .input1{
        width: 580px;

    }
    .input2{
        width: 580px;   
    }
    .box-set {
        width: 640px;
        height: 1500px;
    }
    .box-1 {
        top: 2%;
        left: 30px;
    }
    
    .box-2 {
        top: 25px;
        left: 30px;
        text-decoration: none;
        margin-bottom: 10px;
        height: 35px;
        width: 325px;
        background-color: #4aaaa5;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
    .box-3{
        top: 650px;
        left: 20px;
        margin-bottom: 10px;
        height: 35px;
        width: 210px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
    .box-4{
        top: 775px;
        left: 30px;
        text-decoration: none;
        margin-bottom: 10px;
        height: 35px;
        width: 325px;
        background-color: #4aaaa5;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .box-7 {
        top: 750px;
        left: 20px;
        margin-bottom: 10px;
        height: 35px;
        width: 210px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    
    }
    
    .box-8 {
        top: 875px;
        left: 30px;
        text-decoration: none;
        margin-bottom: 10px;
        height: 35px;
        width: 325px;
        background-color: #4aaaa5;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }


    

}

@media (max-width: 640px) {
    #content1 {
        width: 450px;
    }
    #ContentHead {
        width: 450px;
    }
    #name {
        float: left;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        height: 75px;
    }
    #name-links{
        width: 640px;
    }

    .header{
        position: absolute;
    }
    #pageLinks{
        float: left;
        width: 100%;
        margin: 75px auto;
        position: absolute;
        padding: 20px 40px 10px 10px;
        background: white;
        text-align: center;
    }
    #photo{
        width: 400px;
        height: 300px;
    }
     #form{
        width: 450px;
    }
    .input1{
        width: 390px;

    }
    .input2{
        width: 390px;   
    }

    .box-set {
        width: 450px;
        height: 1500px;
    }
    


    

}